*.iml
.gradle/
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.clangd

*/build/

.idea/
*.iws
*.iml

*.log
*.tmp
*.temp

*.keystore
*.jks

network_config.json
buildSrc/
repo_snapclient/
